KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_METRICS=device.metrics.raw
MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=device_monitoring
API_PORT=8000
CONSUMER_ENABLED=true
ALERT_TELEGRAM_TOKEN=8316269633:AAHk6Xwhh76QmxHaMbcSqK-mTUM5dOoXF4
ALERT_TELEGRAM_CHAT_ID=your_chat_id_here

